@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans:opsz@6..12&display=swap');
:root {
    --primary-color: #238BCF;  
    --secondary-color: #eceaec; 
    --secondary-hover-color: #F2F2F2; 
    --secondary-hover-btn: #cbcbcb; 
    --secondary-hard-color: #B1B1B1; 
    --background-color: #FAFAFA; 
    --text-color: #232323;  
    --sideBar-color: #0e0e0e;  
    --icons-color: white;  
    --gradient-color: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(242,72,72,1) 100%);
    --gradient-color-rotat: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(242,72,72,1) 100%);
    --font-logos-text: 18px;
    --font-logos-links: 20px;
  }
  /* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bf6de0 #ffffff;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  background-color: #bf6de0;
  border-radius: 15px;
  border: 6px none #ffffff;
}

  /* -----------------HEADER-----------------  */
  body{
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
    /* background: var(--gradient-color); */
  }
nav{
  /background: var(--gradient-color-rotat) !important;
  background: rgb(2,0,36) !important;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(68, 57, 57) 49%, rgba(255,0,140,1) 100%) !important;
  height: 100%;
  width: 70px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--sideBar-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  z-index: 1000;
}
.navigation{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.u-navigation{
  display: flex;
  flex-direction: column;
  align-items: center ;
  padding-top: 90px;
}
.nav-item{
  cursor: pointer;
  padding: 15px;
  margin: 10px 0;
}
.nav-item:hover{
  background-color: rgba(133, 133, 133, 0.38);
  border-radius: 7px;
  transition: background-color 0.5s ease 0s;
}
.link-item path {
  fill: var(--secondary-color);
}
.pic-profile-nav{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  overflow: hidden;
}
.modal{
  position: fixed;
  background-color: var(--sideBar-color);
  color: white;
  border-radius: 10px;
  width: 160px;
  height: 118px;
  bottom: 20px;
  left: 80px;
  overflow: hidden;
}
.hidden{
  display: none;
}
.modal>ul{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-modal{
  padding-top: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.modal>ul>li>a{
  margin-left: 12px;
}
.link-modal path{
  fill: white ;
}
.link-modal:hover{
  background: var(--gradient-color);
  transition: background 1s ease 0s;
}
@media screen and (max-width: 500px) {
  nav {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0; 
    height: 70px;
    width: 100%; 
    display: flex;
    flex-direction: row;
    padding: 0 20px;
  }
  .logo{
    display: none;
  }
  .u-navigation{
    display: flex;
    flex-direction: row;
    align-items: center ;
    padding: 0;
  }
  .nav-item{
    margin: 10px 5px;
  }
  .modal{
    bottom: 78px;
    right: 10px;
    left: auto;
  }
}
 /* ------------------------------------- END HEADER-------------------------------------  */
 /* -----------------  SEARCH-FORM -----------------  */
.search-bar{
  /* background: var(--gradient-color) !important;  */
  background: rgb(2,0,36) !important;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1), 49%, rgba(255,0,161,1) 100%) !important;
  width: 100%;
  padding: 10px 0px;
  border-bottom: double 1px transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, rgba(63,94,251,1), rgba(242,72,72,1));
  background-origin: border-box;
  background-clip: padding-box, border-box; 
  

}
.form{
  width: 70%;
  margin: auto;
}
.search-input{
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 20px;
  padding-left: 20px;
  border: double 3px transparent;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, rgba(63,94,251,1), rgba(242,72,72,1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
 /* ------------------------------------- END SEARCH-FORM -------------------------------------  */

  /* -----------------  LOGIN-FORM -----------------  */
.container-all-forms{
  margin: auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.form-container{
  border: double 1px transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, rgba(63,94,251,1), rgba(242,72,72,1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 10px;
  width: 450px;
  overflow: hidden;
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-items{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-items>h2{
  font-size: 40px;
  line-height: 1.2;
  padding-bottom: 50px;
}
/******** //inputs ********/
.input{
  width: 100%;
  border-bottom: 1px solid var(--secondary-hover-btn);
  margin-bottom: 23px;
  display: inline-block;
  position: relative;
}


.test{
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.test>i{
  color: var(--secondary-hover-btn);
}
.input::after{
  content: '';
    display: block;
    width: 0;
    height: 1px;
    background: var(--secondary-hard-color);
    transition: width .3s;
}
.input:hover::after{
  width: 100%;
}
.input>input{
  font-size: 16px;
  line-height: 1.2;
  width: 100%;
  height: 55px;
  padding: 0 7px 0 43px;
  outline: none;
}
/******** BUTTON  ********/
.button{
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 35px;
  color: var(--background-color);
  background-size: 300% 100%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.button{
  background-image: linear-gradient(to right, #3f5efb, #f24848, #6B8DD6, #f24848);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.button:hover {
  background-position: 100% 0;
}
.form-items>a{
  color: var(--secondary-hard-color);
  padding: 20px 0 0 0;
}
.form-container>a{
  color: var(--secondary-hard-color);
  font-size: 15px;
  line-height: 1.2;
  padding: 54px 0 20px 0;
}
    /* -----------------  END LOGIN-FORM -----------------  */

/* -----------------   CREATE ACCOUNT FROM -----------------  */
.input-file{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 20px 0 20px 0;
  border: 2px dashed var(--secondary-hover-btn);
  height: 150px;
  padding: 20px;
  cursor: pointer;
  border-radius: 35px;
}
.input-file:hover{
  background: var(--secondary-hover-color);
}

input[type=file]{
  width: 100%;
  padding: 10px;
  border-radius: 35px;
}
input[type=file]::file-selector-button{
  outline: none;
  border: none;
  border-radius: 35px;
  padding: 5px 10px;
  color: var(--background-color);
  background-size: 300% 100%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #3f5efb, #f24848, #6B8DD6, #f24848);
}

input[type=file]::file-selector-button:hover {
  background-position: 100% 0;
}
/* -----------------  END CREATE ACCOUNT FROM -----------------  */


/* -----------------   CARD POST -----------------  */


.container{

  width: 70%;
  height: 100%;
  margin: auto;
}
.card-items{
  box-shadow: 7px 10px 33px 18px rgba(0,0,0,0.1);
  max-width: 400px;
  /* height: 630px; */
  margin: 35px auto ;
  padding: 10px 20px;
  border-bottom: 1px solid var(--secondary-hard-color);
  border-radius: 10px;
}
.card-header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.small-modal-post{
  right: -190px;
  top: 15px;
  background-color: var(--sideBar-color);
  color: white;
  position: absolute;
  border-radius: 10px;
  height: 150px;
  width: 160px;
  bottom: 20px;
  overflow: hidden;
}

.small-modal-post>ul{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-modal-post>ul>button{
  padding-top: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.small-modal-post>ul>button>span{
  margin-right: 12px;
}

.small-modal-post>ul>button:hover {
  background: var(--gradient-color);
  transition: background 1s ease 0s;
}


.overlay-small-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name{
  position: absolute;
  left: 50px;
  font-size: 14px;
}
/* BODY  */
.card-body{
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  padding-bottom: 10px;
}
.card-body img{
  display: block;
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}
/* FOOTER */
.card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-footer-icons>i{
  font-size: 22px;
  cursor: pointer;
}
.fa-heart{
  padding-right: 15px;
}

.description{
  color: var(--text-color);
  font-size: 13px;
  padding: 5px 0;
}
/* COMMENT  */

.comment-input>input{
  outline: none;
  border: none;
  width: 100%;
  font-size: 13px;
}
/* -----------------  END CARD POST -----------------  */

/* -----------------  ADD MODAL POST -----------------  */


.close-modal-post-btn{
  position: absolute;
  top: 36px;
  right: 31px;
  font-size: 30px;
  color: white;
}


.post-container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container-post{
  border: double 1px transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, rgba(63,94,251,1), rgba(242,72,72,1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 10px;
  width: 450px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post-form{
  margin: 0px 20px;
  max-width: 600px;
  min-height: 450px;
  background-color: #fff;
}
.post-header{
  width: 120%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: double 1px transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, rgba(63,94,251,1), rgba(242,72,72,1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}


.post-form>textarea{
  width: 100%;
  height: 150px;
  outline: none;
  padding: 20px;
}


/* -----------------   END MODAL POST -----------------  */






